* {
	box-sizing: border-box;
}

body {
	background-color: #333;
	display: flex;
	flex-flow: column nowrap;
}

input,
button {
	outline: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

div.list {
	background-color: #eee;
	width: 300px;
	margin: 0.75em;
	display: flex;
	flex-flow: column nowrap;
	box-sizing: border-box;
	input {
		width: 100% !important;
	}
	ul {
		height: auto;
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		box-sizing: border-box;
		li {
			width: 100%;
			padding: 0.5em;
			box-sizing: border-box;
			& > input {
				background-color: #FAFAFA;
				user-select: none; 
				&:focus {
					cursor: text;
				}
			}
		}
	}
	input {
		width: 100%;
		padding: .5em;
		margin: 0;
		box-sizing: border-box;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&[disabled] {
			color: #000;
		}
		&:focus {
			cursor: text;
		}
	}
	input.trash {

	}
	input.archive {
		
	}
}

div.list ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    left: 2px;
}
div.list ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.list-title {
	padding: .25em;
	font-size: 0.8em;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	input {
		width: 100%;
		padding: .5em;
		margin: 0;
		box-sizing: border-box;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&:focus {
			cursor: text;
		}
	}
}

div.list-new-item,
.new-item-input,
#add-list {
	width: 100%;
}

.item-buttons {
	text-align: right;
	width: 100%;
	display: flex;
	background-color: #FAFAFA;
	button {
		background-color: transparent;
		border: none;
		flex-basis: 33.3333%;
		padding: 0.5em 0;
		margin: 2px;
		font-size: .8em;
		&.archive-button {
			background-color: #ffca64;
			color: #FAFAFA;
		}
		&.done-button {
			background-color: #a5d638;
			color: #FAFAFA;
		}
		&.trash-button {
			background-color: #4f6a83;
			color: #FAFAFA;
		}
	}
}

main {
	position: relative;
	width: 100%;
	flex: 0 0 80vh;
	height: 90vh;
	background-color: blue;
	box-sizing: border-box;
	flex-flow: row nowrap;
	display:flex;
	align-items: flex-start;
	& > div {
		border-radius: 4px;
		box-sizing: border-box;
		max-height: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		display: flex;
		align-items: flex-start;
		min-width: 275px;
	}
	.add-list {
		max-width: 300px;
	}
}

.item-complete {
	opacity: .4;
	transition: opacity .2s ease-in-out;
	&:hover {
		opacity: 1;
	}
}

.list-title {
	min-height: 2.5em;
}

header {
	text-align: center;
	padding: .5em 0;
}