/*

CSS Comments etc.

*/

// Control Cursor for UX
input[type="text"] {
	cursor: pointer;
	&:focus {
		cursor: text;
	}
}

// Major Layout Skeleton
@import 'layout';

// Main Theme
@import 'theme';

div.list ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    left: 2px;
}
div.list ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.preview-image {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.item-buttons {
	display: flex;
	button {
		font-size: .9em;
		padding: .5em 0;
		flex: 0 0 50%;
		background-color: #eee;
		border: none;
	}
}